/*card CSS*/
.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(220,220,220,0.8);
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(230,230,230,0.8);
}

.card img {
  height: 100px;
}
